KlassifikationListeHentOIOIDWS/package/common/class/Facet.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:kombit2017="http://www.kombit.dk/2017/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://www.kombit.dk/2017/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>  
        En 
        Facet
         angiver en bestemt synsvinkel på klassificering af de objekter, som klassifikationssystemet udgør taxonomien for. 
        Facet
        ten grupper klasser i klassifikationssystemet. Samme klasse kan kun tilhører en 
        Facet
         - i hele klassens gyldighedsperiode. 
        Facet
        ten er fastlagt sammen med klassifikationssystemet og har derved samme 
        Ejer
        , som klassifikationssystemet og derved samme gyldighedsperiode som 
        Klassifikation
        . 
        Facet
        ter kan opstå og nedlukkes under klassifikationssystemets gyldighedsperiode.  
      </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/UUIDType.xsd"/>
         <xs:include schemaLocation="../types/Tekst50Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst300Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst10KType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:include schemaLocation="../types/Tekst4096Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst100Type.xsd"/>
         <xs:element name="FacetIdentifikation" type="kombit2017:UUIDType">
               
               <xs:annotation>
                  <xs:documentation>  
        Unik identifikation af 
        Facet
        ten (UUID).  
      </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FacetBrugervendtNøgle" type="kombit2017:Tekst50Type">
               
               <xs:annotation>
                  <xs:documentation>  
        Brugervendt identifikation af 
        Facet
        ten. 
        BrugervendtNøgle
         er unik sammen med 
        Ejer
         og gyldighedsperiode.  
      </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FacetTitel" type="kombit2017:Tekst300Type">
               
               <xs:annotation>
                  <xs:documentation>  
        Facet
        tens titel - navn (kan redigeres).  
      </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FacetBeskrivelse" type="kombit2017:Tekst10KType">
               
               <xs:annotation>
                  <xs:documentation>  
        Beskrivelse af indhold og formål med 
        Facet
        ten (kan redigeres).  
      </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FacetPubliceretFraDato" type="kombit2017:DatoType">
               
               <xs:annotation>
                  <xs:documentation>  
        Facet
        ten er gyldig fra og med denne dato. Datoen kan redigeres til en dato tidligere end angivne Virkning
        Fra
         under forudsætning af, at kravene til unikke BrugervendtNøgle kan overholdes.  
      </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FacetPubliceretTilDato" type="kombit2017:DatoType">
               
               <xs:annotation>
                  <xs:documentation>  
        Facet
        ten har gyldighed til og med Gyldighedsdato minus 1 dag, dvs. dagen før. Gyldighedsperioden er derved eksklusive 
        VirkningTil. VirkningTil
         er altid senere end Virkning
        Fra
        . Hvis værdien ikke er angivet er gyldighedsperioden uafsluttet. Værdien kan redigeres/udfyldes. Værdien kan angives til dagsdato +2 dag eller senere.  
      </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FacetRegistreringTidspunkt" type="kombit2017:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>  
        Tidspunkt for 
        Facet
        tens oprettelse (kan ikke redigeres).  
      </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FacetSidstÆndretTidspunkt" type="kombit2017:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>  
        Seneste tidspunkt for oprettelse/ajourføring af 
        Facet
        tens redigerbare attributter.  
      </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FacetRetskilde" type="kombit2017:Tekst4096Type">
               
               <xs:annotation>
                  <xs:documentation>  Hjemmelgrundlag, incl. evt. henvisning til lov og paragraf.   
      </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FacetEjer" type="kombit2017:Tekst100Type">
               
               <xs:annotation>
                  <xs:documentation>  
        Den juridiske enhed (oftest, men ikke begrænset til myndighed), som er 
        Ejer
         af Facetten (Kan ikke redigeres).  
      </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
