KlassifikationListeHentOIOIDWS/package/common/view/KlassifikationListeHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:kombit2017="http://www.kombit.dk/2017/01/01/"
                 xmlns:kontekst="http://kombit.dk/xml/schemas/kontekst/2017/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://www.kombit.dk/2017/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         
         <xs:annotation>
            <xs:documentation>  Ouput af søgning efter klassifikationer  
      </xs:documentation>
            <xs:documentation>r6821</xs:documentation>
         </xs:annotation>
         <xs:import namespace="http://kombit.dk/xml/schemas/kontekst/2017/01/01/"
                    schemaLocation="../context/KontekstType.xsd"/>
			  
			      
         <xs:include schemaLocation="../view/KlassifikationStrukturType.xsd"/>
         
         <xs:element name="KlassifikationListeHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="kombit2017:KlassifikationListeHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r6821"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="KlassifikationListeHent_OType">
            <xs:sequence>
               <xs:element ref="kontekst:HovedOplysningerSvar"/>
               <!--Sequence removed-->
                  
                     <xs:element name="KlassifikationListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="kombit2017:KlassifikationStruktur" minOccurs="1" maxOccurs="unbounded"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
